.navbar-default {
  	background-color: #fff;
  	border-color: #ffba00;
}

.btn-navbar {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 2px;
	border-color: #444;
	background: #444;
}

.btn-navbar:hover,
.btn-navbar:focus,
.btn-navbar:active,
.btn-navbar.active {
	color: #fff;
	background: #666;
}

@media (max-width: 767px) {
	.btn-navbar {
		float: none;
		margin: 0 0 10px 0;
		width: 100%;
	}
}





/*********************************\
           $BUTTONS
\*********************************/

.btn-default {
	color: #FFF;
	background-color: #444;
	border-color: #444;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	color: #fff;
	background: #666;
	border-color: #666;
}





/*********************************\
           $NAVBAR
\*********************************/

.navbar-nav { margin-top: 0; }

@media (max-width: 767px) {
	.navbar-default .navbar-nav>li>a { border-bottom: solid 1px #e7e7e7; }
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { border-color: #e7e7e7; }
}