/*********************************\
            $MAIN
\*********************************/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

body > .container { padding: 100px 15px 0; }

a {
    color: #3b65a7;
    text-decoration: none;
}





/*********************************\
        $ACCESSORY NAVBAR
\*********************************/
.accessory-navbar {
    color: #999;
    background: #eee;
    border-bottom: solid 1px #ddd;
}

.accessory-nav,
.accessory-nav > li {
    margin: 0;
    padding: 0;
}

.accessory-nav > li { 
    float: left; 
    list-style: none;
}

.accessory-nav > li > a {
    padding: 4px 10px;
    display: inline-block;
    color: #5d5d5d;
    font-size: 12px;
    border-right: solid 1px #ddd;
}

@media (max-width: 767px) {
    .accessory-nav > li > a { padding: 6px 12px; }
}

.accessory-nav > li > a:hover {
    text-decoration: none;
    background: #f8f8f8;
}

.accessory-nav > li:first-child { border-left: solid 1px #ddd; }





/*********************************\
            $NAVBAR
\*********************************/
.navbar-brand:hover { opacity: 0.8; }





/*********************************\
        $MASTER SEARCH
\*********************************/

.master-header {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;
    color: #838383;
    font-weight: 300;
}

@media (max-width: 767px) {
    .master-header {
        margin-bottom: 15px;
        font-size: 22px;
    }
}

.master-search { 
    margin-bottom: 10px; 
    position: relative;
}

@media (max-width: 767px) {
    .master-search { margin-bottom: 5px; }
}

.master-search-wrap { position: relative; }

@media (min-width: 768px) {
    .master-search-wrap { margin-top: 4%; }
}

.master-search .btn-default,
.master-search-inner .btn-default {
    color: #fff;
    border-radius: 2px;
    border-color: #d09c10;
    background: #ffba00;
}

.master-search .btn-default:hover,
.master-search .btn-default:focus,
.master-search .btn-default:active,
.master-search .btn-default.active,
.master-search-inner .btn-default:hover,
.master-search-inner .btn-default:focus,
.master-search-inner .btn-default:active,
.master-search-inner .btn-default.active {
    color: #fff;
    border-color: #d09c10;
    background: #f2b000;
    outline: none;
}

@media (max-width: 767px) {
    .master-search>.form-control {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .master-search>.form-control, 
    .master-search>.input-group-addon, 
    .master-search>.input-group-btn>.btn {
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }
    .master-search>.input-group-btn>.btn { 
        font-size: 22px; 
        text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    }
    .master-search-inner>.form-control, 
    .master-search-inner>.input-group-addon, 
    .master-search-inner>.input-group-btn>.btn {
        height: 40px;
        font-size: 14px;
    }
    .master-search-inner>.input-group-btn>.btn { text-shadow: 0px 1px 1px rgba(0,0,0,0.3); }
}

@media (max-width: 767px) {
    .master-search>.form-control, 
    .master-search>.input-group-addon, 
    .master-search>.input-group-btn>.btn {
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }
    .master-search>.form-control { font-size: 12px; }
}

.master-search-suggestions {
    position: absolute;
    left: 0;
    top: 130px;
    margin: 0;
    padding: 0px 140px 1px 15px;
    width: 100%;
    z-index: 10;
} 

@media (max-width: 767px) {
    .master-search-suggestions {
        top: 85px;
        padding-left: 15px;
        padding-right: 15px;
        max-height: 250px;
        overflow: auto;
    } 
}

/*.suggestion {
    position: relative;
    padding: 0 5px;
    margin-top: -1px;
    margin-bottom: -1px;
    background: #FFF;
}*/

.suggestion {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 10px 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: background .3s;
            transition: background .3s;
}

.suggestion:hover,
.suggestion:focus,
.suggestion:active,
.suggestion.active {
    text-decoration: none;
    background: #f2f2f2;
}

.suggestion:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.suggestion:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.suggestion-title {
    margin-bottom: .2em;
    color: #444;
    font-weight: 700;
    text-align: left;
}

.suggestion-category {
    float: right;
    padding-left: .5em;
    color: #999;
    font-size: 10px;
    font-weight: 700;
}

.suggestion-extra {
    font-size: 12px;
    text-align: left;
    color: #999;
}

.suggestion-image {
    float: left;
    margin: 0 12px 0 1px;
    border-radius: 4px;
}





/*********************************\
          MASTER CATEGORY
\*********************************/

.master-categories {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.master-category {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
   display: block;
}

.master-category-content {
   position: absolute;
   left: 5px;
   right: 5px;
   top: 5px;
   bottom: 5px;
   overflow: hidden;
}

.master-category-content img { width: 100%; }

.master-category-content .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.master-category:hover .overlay { background: rgba(0, 0, 0, 0.7); } 

.master-category-content .overlay .title {
    position: absolute;
    left: 10px;
    bottom: 5px;
    right: 10px;
    max-width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    transition: all 0.3s ease-out;
}

.master-category:hover .overlay .title { bottom: 15px; } 

@media (max-width: 767px) {
    .master-category-content .overlay .title { font-size: 12px; }
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .master-category {
        width: 50%;
        padding-bottom: 50%;
   }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .master-category {
        width: 50%;
        padding-bottom: 50%;
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .master-category {
        width: 33.3%;
        padding-bottom: 33.3%;
   }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .master-category {
        width: 25%;
        padding-bottom: 25%;
   }
}

@media only screen and (min-width : 1291px) {
    .master-search-inner .master-category { 
        width: 14.25%; 
        padding-bottom: 14.25%;
    }
}





/*********************************\
          SEARCH RESULTS
\*********************************/
.sub-heading {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #5D5D5D;
}

.search-result .media-left img {
    max-width: 130px;
    border-radius: 2px;
}

.search-result {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: solid 1px #e5e5e1;
}

.search-result .progress {
    width: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 8px;
}

.search-result .media-body p {
    font-weight: 500;
    color: #606060;
}

@media (min-width: 990px) {
    .search-result .media-left  { padding-right: 15px; }
}

@media (max-width: 990px) {
    .search-result .media-left img { max-width: 120px; }
    .search-result .progress { width: 60%; }
}

@media (max-width: 768px) {
    .search-result .media-left img { max-width: 90px; }
    .search-result .progress { width: 80%; }
}

.search-result .media-heading > a { font-weight: 700; }

.search-result .tags {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #5d5d5d;
    border: solid 1px #ccc;
    background: #f8f8f8;
    background: -webkit-linear-gradient(white, #eee);
    background: linear-gradient(white, #eee);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
            box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.search-result .tags:hover,
.search-result .tags:focus,
.search-result .tags:active,
.search-result .tags.active {
    text-decoration: none;
    background: #f0f0f0;
    background: -webkit-linear-gradient(#fafafa, #e9e9e9);
    background: linear-gradient(#fafafa, #e9e9e9);
}

.search-result .tags:active,
.search-result .tags.active {
    box-shadow: none;
}




/*********************************\
          ASIDE BLOCK
\*********************************/

@media (min-width: 991px) {
    .aside-block { padding-left: 15px; }
}

.aside-block {
    padding-bottom: 10px;
    margin-bottom: 25px;
    color: #505050;
    border-bottom: solid 1px #e5e5e1;
}

.aside-block-heading {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #505050;
}

.aside-block .media-left img { 
    border-radius: 3px;
    max-width: 50px; 
} 

.aside-block .progress {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 5px;
}

.aside-content {
    font-size: 13px;
    font-weight: 500; 
    margin-bottom: 5px;
}

.aside-content-time-stamp {
    font-size: 12px;
    color: #888; 
}

.aside-block .media-heading {
    font-weight: 600;
    font-size: 16px;
}





/*********************************\
          #FOOTER
\*********************************/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding: 10px 0;
    border-top: solid 1px #ddd;
}

.footer-copyright {
    margin: 0;
    color: #777;
    font-size: 85%;
    text-align: center;
}





/*********************************\
            $RDB BUTTON
\*********************************/

.btn-rdb {
    color: #fff;
    background-color: #FFBA00;
    border-color: #FFBA00;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.btn-rdb:hover,
.btn-rdb:focus,
.btn-rdb:active,
.btn-rdb.active {
    color: #fff;
    background-color: #f2b000;
    border-color: #d09c10;
}





/*********************************\
              $RATING
\*********************************/

.rating-container .rating-stars { color: #FFBA00; }





/*********************************\
        $WYSIWYG EDITOR
\*********************************/
.note-editor .note-editable {
    background: #fff;
    min-height: 250px;
}





/*********************************\
           $NEW REVIEW
\*********************************/

@media (max-width: 767px) {
    .review-media { 
        display: block; 
        margin-bottom: 10px;
    }
    .review-media .fileupload-preview { margin: auto; }

    .new-review-wrap .media-body { 
        display: block; 
        width: 100%;
    }
} 

/** Review Image **/
.review-media .fileupload-preview {
    position: relative;
    margin-bottom: 10px;
    width: 150px;
    min-height: 145px;
    max-height: 190px;
    line-height: 134px !important;
    background-color: #F8F8F8;
    border-color: #ccc;
    cursor: pointer;
}

.review-media .fileupload-preview img { width: 100%; }

.review-media .fileupload-preview .btn-file-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -29px;
    margin-left: -28px;
    font-size: 30px;
    color: #FFBA00;
    background: transparent;
    z-index: 10;
}

.btn-review-pic-remove {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #E00000;
    font-size: 12px;
    background-color: #EAEAEA;
    border: solid 1px #ccc;
}

.review-description { position: relative; }

.btn-new-review-description {
    float: right;
    padding: 4px 20px;
    margin-right: 15px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.new-review-wrap,
.small-data-wrap {
    padding: 15px;
    background: #f5f5f5;
    border-radius: 4px;
    border: solid 1px #ddd;
}

.new-review-wrap .header-info { margin-bottom: 20px; }

.new-review-wrap .footer-btn-wrap {
    margin-top: 15px;
    text-align: center;
}

.new-review-wrap .footer-btn-wrap .btn {
    padding-left: 25px;
    padding-right: 25px;
}

.small-data-wrap.email { 
    padding-top: 40px;
    padding-bottom: 40px;
}

.small-data-wrap .media { margin-bottom: 0; } 

.small-data-wrap .media-body { vertical-align: middle; }





/*********************************\
            $NAVBAR
\*********************************/

.navbar-nav .dropdown-menu.login-form .login-fields { padding: 10px; }

.dropdown-menu.login-form { min-width: 250px; }

.dropdown-menu.signup-form { min-width: 200px; }

.dropdown-menu.signup-form .signup-fields { padding: 20px; }

.dropdown-menu.signup-form .signup-fields .btn { font-size: 20px; }

.dropdown-menu.signup-form .signup-fields .btn:first-child { margin-right: 10px; }

.login-form .divider { margin: 6px 0; }

@media (max-width: 767px) {
    .login-form { border-bottom: solid 1px #e7e7e7 !important; }
}

.dropdown-menu.signup-form .btn-facebook {
    padding-left: 15px;
    padding-right: 15px;
}




/*********************************\
         $Facebook Button
\*********************************/

.btn-facebook {
    color: #FFF;
    background-color: #3b5998;
    border-color: #3b5998;
}

.btn-facebook:hover {
    color: #fff;
    background: #365189;
    border-color: #365189;
}